.ui.cards>.card {
    margin-bottom: 50px;
    margin-right: 50px;
    border: 0;
    box-shadow: 0 0 10px #d4d5d4;
}

@media (max-width: 750px) {
    .ui.cards>.card {
        width: 70%;
        margin: auto;
        margin-bottom: 50px;
    }
  }

.ui.card>.content, .ui.cards>.card>.content {
    margin-left: 10px;
    padding-bottom: 40px;
}

h2 {
    color: #29292a;
    padding: 20px 0;
}

