.full-country {
    width: 95%;
    margin: auto;
    margin-top: 50px;
}

@media (max-width: 750px) {
    .full-country {
        width: 85%;
    }

    .country-info {
        padding-bottom: 30px !important;
    }

    .country-detail {
        padding-left: 30px !important;
    }

    .borders {
        padding-left: 20px !important;

    }
  }

.back-button {
    margin: 50px auto;
}

.back-button .button {
    background-color: white;
    width: 100px;
    box-shadow: 0 0 10px #d4d5d4;
    margin: 10px 10px 0 0;
}

.flag img {
    width: 100%;
    margin-bottom: 30px;
    box-shadow: 0 0 10px #e8e9e8;
}

h2 {
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 30px;
}

.country-detail {
    padding-left: 100px;
}

.country-info {
    padding-left: 0;
    padding-bottom: 50px;
}

label {
    font-weight: 600;
    margin-right: 5px;
}

p {
    margin-bottom: 5px;
}

.row .borders {
    margin-bottom: 30px;
    width: 100%;
    padding-left: 15px !important;
}

.button.border-button {
    background-color: white;
    width: 90px;
    box-shadow: 0 0 5px #e8e9e8;
    margin: 10px 10px 0 0;
}